@page "/Account"
@using BlazorClient.Data.CustomerService
@using BlazorClient.Models


@inject ICustomerService accountdata; 
@inject NavigationManager nav; 

<h3>Account Summary </h3>
<p> Filter by Account Id: <input type="number" @oninput="@((arg) => FilterForId(arg))" style="width:50px" /> </p>


@if (accountdata == null)
{
    <p>
        <em> Loading...</em>
    </p>
}
else
{
    
    <table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>date</th>
        <th>AccountID</th>
        
    </tr>
    </thead>
    <tbody>
    } @foreach (var item in acccountData)
      {
          <tr>
    <td>@item.Name</td>
    <td>@item.Account.amount</td>
    <td>@item.Account.date</td>
    <td>@item.Account.accountID</td>
    <td>
        
    </td>
    </tr>
    }
      </tbody>
    </table>
      }
    
@code {
    private List<Customer> acccountData;
    private int? filterForID;
     private void FilterForId(ChangeEventArgs changeEventArgs)
    {
        filterForID = null;
        try
        {
            filterForID = int.Parse(changeEventArgs.Value.ToString());
        }
        catch (Exception e)
        {
            // ignored
        }
    //    ExecuteFilter();
    }
}